// Do we need to serve a font? Add the @font-face styles here.

/*
    Add your custom styles here
*/

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: 'normal';
    font-weight: 300;
    src: url('../../assets\fonts\Poppins-Light.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: 'normal';
    font-weight: 500;
    src: url('../../assets\fonts\Poppins-Medium.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'SpaceMono';
    font-style: 'normal';
    font-weight: 400;
    src: url('../../assets\fonts\SpaceMono-Regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'SpaceMono';
    font-style: 'Italic';
    font-weight: 400;
    src: url('../../assets\fonts\SpaceMono-Italic.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'SpaceMono';
    font-style: 'normal';
    font-weight: 700;
    src: url('../../assets\fonts\SpaceMono-Bold.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'SpaceMono';
    font-style: 'Italic';
    font-weight: 700;
    src: url('../../assets\fonts\SpaceMono-BoldItalic.woff2') format('woff2');
}
